.header{
&-wrapper{
height:32px;
position:relative;
background-color:#026aa7;
padding:4px;
  &-left{
    display:flex;
    justify-content:flex-start;
    flex-grow:1;
    &-link{
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    background-color: hsla(0,0%,100%,.3);
    box-shadow: none;
    color: #fff;
    display: flex;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    margin: 0 4px 0 0;
    padding: 0;
    transition: .1s ease;
    white-space: nowrap;
    }
    &-wrapper{
      width:100px;
      position: absolute;
      top:7;
      left: 700;
      &-text{
        color:darkgray;
      }
    }
  }
}
}

.search-form-input{
  background-color: hsla(0,0%,100%,.3);
    border-radius: 3px;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    color: hsla(0,0%,100%,.5);
    float: left;
    font-size: 13px;
    height: 32px;
    line-height: 19px;
    margin: 0;
    outline: none;
    padding-left: 8px;
    padding-right: 30px;
    transition: width .15s;
    width: 180px;
}

.header-wrapper-left-search{
position:relative;
}

.search-submit{
&-btn{
  display:none;
}
}

.fa-home{
  margin-left:10px;
  margin-right:10px;
}

.fa-search{
  position:absolute;
  color:white;
  top:7;
  right:12;
}

.dropdown-item{
position:absolute;
top:8;
right:55;
color:white;
}

.news{
  text-align:center;
  height:25px;
  background-color:orange;
}