.index-wrapper{
  width:1200px;
  display:flex;
  justify-content: row;
  margin-top:100px;
  margin-left :auto;
  margin-right:auto;
  &-user{
    width:400px;
    padding-bottom:15px;
    height:220px;
    box-shadow:0px 0px 3px;
    border:1px solid #6666;
    &-count{
      text-align:center;
      margin-top:5px;
      margin-bottom:13px;
    }
    &-picture{
      padding-top:10px;
     text-align:center;
    }
    &-text-p{
      background-color: #4dc0b5;
      text-align:center;
      height:30px;
      border:1px solid #6666;
    }
  }
}

.index-wrapper-user-status{
  display:flex;
  justify-content:center;
  &-doing{
    text-align:center;
    width:85px;
    margin-right:40px;
    &-container{
      border-radius: 7px;
      background-color:blue;
        &-text{
        color:white;
        font-weight:bold;
      }
    }
  }
  &-notyet{
    width:85px;
    text-align:center;
    margin-right:40px;
    &-container{
      border-radius: 7px;
      background-color:green;
      &-text{
        color:white;
        text-align:center;
        font-weight:bold;
      }
    }
  }
  &-done{
    text-align:center;
    width:85px;
    &-container{
      border-radius: 7px;
      background-color:pink;
      &-text{
        color:white;
        font-weight:bold;
      }
    }
  }
}

.index-folder{
width:400px;
height:100px;
box-shadow:0px 0px 3px;
border:1px solid #6666;
margin-left:50px;
&-container{
  text-align:center;
  padding-bottom:23;
  &-text{
    background-color: #4dc0b5;
    
  }
}
}

.folder-add{
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  border-radius: 7px;
  box-shadow:0px 0px 3px;
  border:1px solid #6666;
  width:300px;
  padding-top:5px;
  padding-bottom:5px;
  &-link-text{
    color:black;
  }
}

.folder-list{
  text-align:center;
  text-decoration:none;
  &-text{
    text-decoration: none;
    color:black;
    background: #4dc0b5;
    padding-bottom:8px;
    box-shadow:0px 0px 3px;
    border: 1px solid #4dc0b5;
  }
}

.index-todo{
  width:1200px;
  max-height:350px;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
    &-title{
      background: green;
      line-height:45px;
      padding-left:20px;
      height:45px;
    }
    &-container{
      border: 1px solid black;
      position:relative;
      height:70px;
      display:flex;
      justify-content: center;
      &-add{
      margin-right:40px;
      margin-top:22px;
      text-align:center;
      width:1000px;
        &-btn{
          position:absolute;
          right:115px;
          top:20px;
          width:1000px;
          padding:5px;
          border:1px solid #6666;
          border-radius:4px;
          box-shadow:0px 0px 3px;
          &-link-text{
            font-weight:bold;
            color:black;
          }
        }
      }
    }
}

.task-list{
  display:flex;
  justify-content:row;
  border: 1px solid black;
  padding:10px;
  font-weight:bold;
  &-name{
    margin-left:35px;
  }
  &-trio{
    margin-left:680px;
    display: flex;
    justify-content:row;
    &-limit{
      margin-left:100px;
    }
    &-updated{
      margin-left:100px;
    }
  }
}


.current-tasks{
  display:flex;
  position:relative;
  justify-content:row;
  border: 1px solid black;
  padding:10px;
  &-name{
    position:absolute;
    top:10;
    left:38;
  }
  &-trio{
    margin-left:755px;
    display: flex;
    justify-content:row;
    &-status{
      height:25px;
      text-align:center;
      border-radius:4px;
      background-color:pink;
      padding-right:5px;
      padding-left:5px;
      width:60px;
    }
    &-limit{
      position:absolute;
      left:890px;
    }
    &-updated{
      position:absolute;
      left:1030px;
    }
  }
}