.categories-container {
  width: 1000px;
  margin: 0 auto;
}
.categories-container-wrapper {
  padding-top: 50px;
}
.categories-container-wrapper-title {
  padding-left: 10px;
  font-size: 25px;
  font-weight: bold;
  border-left: 6px solid #28a7e1;
}
.categories-container-wrapper-title-text {
  padding-top: 20px;
}
.categories-pictures {
  width: 100%;
  display: flex;
  justify-content: row;
  flex-wrap: wrap;
}
.categories-pictures-wrapper {
  margin: 3px;
}
.folder-add-index {
  width: 90px;
  padding: 5px;
  background: skyblue;
  margin-top: 50px;
  box-shadow: 0 0 3px;
  margin-bottom: 30px;
}
.categories-pictures-wrapper {
  position: relative;
}
.categories-pictures-wrapper-text {
  margin-left: 7px;
  color: white;
  position: absolute;
  font-weight: bold;
}
.index-wrapper-menu {
  margin-left: 50px;
  box-shadow: 0px 0px 3px;
  width: 400px;
  height: 55px;
}
.index-wrapper-menu-list {
  text-align: center;
  margin-top: 4px;
}
.index-wrapper-menu-text {
  background-color: #4dc0b5;
  width: 100%;
  text-align: center;
}
#modal-new {
  height: 400px;
}
