.index-wrapper {
  width: 1200px;
  height: 1400px;
  margin: 0 auto;
}
.index-wrapper-sidenav {
  margin-top: 100px;
  text-align: center;
  margin-left: 50px;
  width: 210px;
}
.index-wrapper-list {
  width: 100px;
  margin-left: 370px;
}
.nav-icon {
  padding-right: 12px;
}
