@import "index";
/*!
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 *//*
 TODO will need to remove settings on HTML since we can't namespace it.
 TODO with the prefix, should I group by selector or property for weight savings?
 */html {
  color: #000;
  background: #fff;
}
body {
  font-family: "Comic Sans MS";
  width: 1450px;
}
/*
 TODO remove settings on BODY since we can't namespace it.
 *//*
 TODO test putting a class on HEAD.
 - Fails on FF.
 */body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  margin-bottom: 0rem;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
/*
 TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
 */address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before, q:after {
  content: '';
}
abbr, acronym {
  border: 0;
  font-variant: normal;
}
/* to preserve line-height and selector appearance */sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
/*to enable resizing for IE*/input, textarea, select {
  *font-size: 100%;
}
/*because legend doesn't inherit in IE */legend {
  color: #000;
}
/* YUI CSS Detection Stamp */#yui3-css-stamp.cssreset {
  display: none;
}
h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
a {
  text-decoration: none;
}
.header-wrapper {
  height: 32px;
  position: relative;
  background-color: #026aa7;
  padding: 4px;
}
.header-wrapper-left {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}
.header-wrapper-left-link {
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  background-color: rgba(255, 255, 255, .3);
  box-shadow: none;
  color: #fff;
  display: flex;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  margin: 0 4px 0 0;
  padding: 0;
  transition: 0.1s ease;
  white-space: nowrap;
}
.header-wrapper-left-wrapper {
  width: 100px;
  position: absolute;
  top: 7;
  left: 700;
}
.header-wrapper-left-wrapper-text {
  color: darkgray;
}
.search-form-input {
  background-color: rgba(255, 255, 255, .3);
  border-radius: 3px;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  color: rgba(255, 255, 255, .5);
  float: left;
  font-size: 13px;
  height: 32px;
  line-height: 19px;
  margin: 0;
  outline: none;
  padding-left: 8px;
  padding-right: 30px;
  transition: width 0.15s;
  width: 180px;
}
.header-wrapper-left-search {
  position: relative;
}
.search-submit-btn {
  display: none;
}
.fa-home {
  margin-left: 10px;
  margin-right: 10px;
}
.fa-search {
  position: absolute;
  color: white;
  top: 7;
  right: 12;
}
.dropdown-item {
  position: absolute;
  top: 8;
  right: 55;
  color: white;
}
.new-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
.new-container-wrapper {
  position: relative;
  border: 1px solid black;
  margin-top: 70px;
  height: 400px;
  width: 66%;
  margin-left: 16%;
}
.new-container-wrapper-default-title {
  border: 1px solid black;
  height: 38px;
  line-height: 38px;
  color: #333;
  background-color: #fff;
  border-color: #d3e0e9;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.form-wrapper {
  padding: 15px;
  margin: 0 auto;
  width: 600px;
}
.form-wrapper-group {
  display: flex;
  justify-content: row;
}
.form-wrapper-group-cover {
  margin-left: 25px;
}
.form-wrapper-group-title {
  margin-right: 25px;
}
.form-wrapper-group-title-input {
  width: 430px;
  height: 36px;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccd0d2;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.textarea {
  margin-top: 30px;
}
.textbox {
  width: 100%;
  height: 100px;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccd0d2;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  display: block;
  font-size: 14px;
  line-height: 1.6;
}
.due {
  margin-top: 30px;
}
.due_date-label_input {
  width: 100%;
  height: 30px;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccd0d2;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  display: block;
  font-size: 14px;
  line-height: 1.6;
  color: #555;
}
.new-submit {
  color: #636b6f;
  position: absolute;
  bottom: 45;
  right: 100;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 4px;
}
.select-box-wrapper {
  margin-top: 30px;
}
.select-box-wrapper-select {
  margin-left: 42px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccd0d2;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  font-size: 14px;
  color: #555;
}
.sign-up {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  letter-spacing: 0;
}
.sign-up__wrapper {
  width: 420px;
  margin-bottom: 160px;
  max-width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.sign-up__wrapper-text {
  color: black;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 25px;
  text-align: center;
}
.sign-up__wrapper-form {
  flex-direction: column;
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
}
.sign-up__wrapper-form-box {
  margin: 10px 0;
  width: 100%;
  height: 50px;
  position: relative;
}
.sign-up__wrapper-form-box__input {
  padding: 0 15px;
  border-bottom: 1px solid rgba(0, 0, 0, .14);
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  line-height: 50px;
  border: 0;
}
.sign-up__wrapper-form-button {
  opacity: 0.6;
  width: 50%;
  height: 40px;
  margin: 10px 0;
  background-color: rgba(0, 1, 0, );
  display: flex;
  border-radius: 4px;
  transition: all 0.2s;
  position: relative;
}
.sign-up__wrapper-form-button-registrate {
  text-align: center;
  margin: 0 auto;
  font-size: 17px;
}
.login-btn {
  opacity: 0.6;
  width: 50%;
  height: 40px;
  margin: 10px 0;
  background-color: rgba(0, 1, 0, );
  display: flex;
  border-radius: 4px;
  transition: all 0.2s;
  position: relative;
  text-decoration: none;
}
.login-btn-textbox {
  margin: 0 auto;
  color: black;
  line-height: 40px;
}
.sign-up__wrapper-form-button:hover {
  background-color: rgba(0, 0, 0, .78);
}
.login-btn:hover {
  background-color: rgba(0, 0, 0, .78);
}
.flash_message {
  color: red;
  margin-bottom: 10px;
}
.under-bar {
  border-bottom: 1px solid rgba(0, 0, 0, .14);
}
.git-hub-login {
  height: 50px;
}
.git-hub-login-link {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  line-height: 30px;
}
.pagination-wrapper {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding-bottom: 20px;
}
.pagination {
  display: -webkit-box;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #3490dc;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.page-link:hover {
  z-index: 2;
  color: #1d68a7;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #3490dc;
  border-color: #3490dc;
}
.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}
.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  line-height: 1.5;
}
.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.7875rem;
  line-height: 1.5;
}
.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
.accbox {
  padding: 0;
  width: 1200px;
}
.delete-form-wrapper {
  position: absolute;
  top: 5;
  right: 95;
}
/*ラベル*/.accbox label:not(.delete-label) {
  display: block;
  padding : 11px 12px;
  border: 1px solid black;
  font-weight: bold;
  padding-left: 40px;
  cursor : pointer;
  transition: all 0.5s;
}
/*ラベルホバー時*//*チェックは隠す*/.accbox input {
  display: none;
}
/*中身を非表示にしておく*/.accbox .accshow {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}
/*クリックで中身表示*/.cssacc:checked + .accshow {
  height: auto;
  padding: 5px;
  background: #eaeaea;
  opacity: 1;
}
.gnav {
  display: flex;
  height: 2rem;
}
.gnav > li {
  width: 100%;
}
.gnav li {
  list-style: none;
  position: relative;
}
.gnav-user a {
  color: black;
  display: block;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.gnav-picture-category {
  color: #fff;
  display: block;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.gnav-user-name {
  background-color: #4dc0b5;
  color: black;
  display: block;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.gnav-picture-category {
  color: white;
}
.gnav li li {
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
  top: 2px;
}
.gnav li li a {
  background: white;
  color: black;
}
.gnav li:hover > ul > li {
  height: 2rem;
  overflow: visible;
}
.gnav-list-link {
  transition: all 0.1s;
  border: 1px ridge black;
  color: #fff;
  display: block;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.gnav-list-link:hover {
  background-color: ;
}
.categories-container {
  width: 1000px;
  margin: 0 auto;
}
.categories-container-wrapper {
  padding-top: 50px;
}
.categories-container-wrapper-title {
  padding-left: 10px;
  font-size: 25px;
  font-weight: bold;
  border-left: 6px solid #28a7e1;
}
.categories-container-wrapper-title-text {
  padding-top: 20px;
}
.categories-pictures {
  width: 100%;
  display: flex;
  justify-content: row;
  flex-wrap: wrap;
}
.categories-pictures-wrapper {
  margin: 3px;
}
.folder-add-index {
  width: 90px;
  padding: 5px;
  background: skyblue;
  margin-top: 50px;
  box-shadow: 0 0 3px;
  margin-bottom: 30px;
}
.categories-pictures-wrapper {
  position: relative;
}
.categories-pictures-wrapper-text {
  color: white;
  position: absolute;
  font-weight: bold;
}
.index-wrapper {
  width: 1200px;
  display: flex;
  justify-content: row;
  margin-top: 100px;
  margin-left : auto;
  margin-right: auto;
}
.index-wrapper-user {
  width: 400px;
  padding-bottom: 15px;
  height: 220px;
  box-shadow: 0px 0px 3px;
  border: 1px solid #666 6;
}
.index-wrapper-user-count {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 13px;
}
.index-wrapper-user-picture {
  padding-top: 10px;
  text-align: center;
}
.index-wrapper-user-text {
  position: relative;
}
.index-wrapper-user-text-p {
  background-color: #4dc0b5;
  text-align: center;
  height: 30px;
  border: 1px solid #666 6;
}
.index-wrapper-user-status {
  display: flex;
  justify-content: center;
}
.index-wrapper-user-status-doing {
  text-align: center;
  width: 85px;
  margin-right: 40px;
}
.index-wrapper-user-status-doing-container {
  border-radius: 7px;
  background-color: blue;
}
.index-wrapper-user-status-doing-container-text {
  color: white;
  font-weight: bold;
}
.index-wrapper-user-status-notyet {
  width: 85px;
  text-align: center;
  margin-right: 40px;
}
.index-wrapper-user-status-notyet-container {
  border-radius: 7px;
  background-color: green;
}
.index-wrapper-user-status-notyet-container-text {
  color: white;
  text-align: center;
  font-weight: bold;
}
.index-wrapper-user-status-done {
  text-align: center;
  width: 85px;
}
.index-wrapper-user-status-done-container {
  border-radius: 7px;
  background-color: pink;
}
.index-wrapper-user-status-done-container-text {
  color: white;
  font-weight: bold;
}
.index-folder {
  width: 400px;
  height: 100px;
  box-shadow: 0px 0px 3px;
  border: 1px solid #666 6;
  margin-left: 50px;
}
.index-folder-container {
  text-align: center;
  padding-bottom: 23;
}
.index-folder-container-text {
  background-color: #4dc0b5;
}
.folder-add {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 7px;
  box-shadow: 0px 0px 3px;
  border: 1px solid #666 6;
  width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.folder-add-link-text {
  color: black;
}
.folder-list {
  text-align: center;
  text-decoration: none;
}
.folder-list-text {
  text-decoration: none;
  color: black;
  background: #4dc0b5;
  padding-bottom: 8px;
  box-shadow: 0px 0px 3px;
  border: 1px solid #4dc0b5;
}
.index-todo {
  width: 1200px;
  max-height: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.index-todo-title {
  background: green;
  line-height: 45px;
  padding-left: 20px;
  height: 45px;
}
.index-todo-container {
  border-right: 1px ridge black;
  border-left: 1px ridge black;
  position: relative;
  height: 70px;
  display: flex;
  justify-content: center;
}
.index-todo-container-add {
  margin-right: 40px;
  margin-top: 22px;
  text-align: center;
  width: 1000px;
}
.index-todo-container-add-btn {
  position: absolute;
  right: 115px;
  top: 20px;
  width: 1000px;
  padding: 5px;
  border: 1px solid #666 6;
  border-radius: 4px;
  box-shadow: 0px 0px 3px;
}
.index-todo-container-add-btn-link-text {
  font-weight: bold;
  color: black;
}
.task-list {
  display: flex;
  justify-content: row;
  border: 1px ridge black;
  padding: 10px;
  font-weight: bold;
}
.task-list-name {
  margin-left: 35px;
}
.task-list-trio {
  margin-left: 680px;
  display: flex;
  justify-content: row;
}
.task-list-trio-limit {
  margin-left: 100px;
}
.task-list-trio-updated {
  margin-left: 100px;
}
.current-tasks {
  display: flex;
  position: relative;
  justify-content: row;
  border: 1px solid black;
  padding: 10px;
}
.current-tasks-name {
  position: absolute;
  top: 10;
  left: 38;
}
.current-tasks-trio {
  margin-left: 755px;
  margin-top: 10px;
  position: absolute;
  display: flex;
  justify-content: row;
}
.current-tasks-trio-edit {
  position: absolute;
  left: -100;
}
.current-tasks-trio-status {
  height: 25px;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding-right: 5px;
  padding-left: 5px;
  width: 60px;
}
.current-tasks-trio-limit {
  position: absolute;
  left: 130px;
  width: 100px;
}
.current-tasks-trio-updated {
  position: absolute;
  left: 260px;
  width: 300px;
}
.notyet {
  background-color: blue;
}
.done {
  background-color: pink;
}
.doing {
  background-color: green;
}
.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 10px;
  text-align: center;
}
.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s, visibility 0.4s;
}
.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  vertical-align: middle;
  content: "";
}
.modal-wrapper .modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 70%;
  height: 200px;
  max-width: 600px;
  padding: 30px 30px 15px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle;
}
.modal-wrapper .modal-window .modal-content {
  max-height: 80vh;
  overflow-y: auto;
}
.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
}
.modal-wrapper .modal-close {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  color: #95979c !important;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
}
.modal-wrapper .modal-close:hover {
  color: #2b2e38 !important;
}
.user-link {
  position: absolute;
  top: 4;
  left: 240;
}
.image {
  margin-top: 40px;
  position: relative;
  margin-top: 40px;
}
.image-user {
  cursor: pointer;
}
.image-user-icon {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 200;
}
.image-user-input {
  display: none;
}
#preview {
  position: absolute;
  top: 0;
  left: 200;
  z-index: 100;
}
body {
  background: linen;
}
